body {
	background-color: tan;
	color: rgb(128,0,0);
	font-weight: 600;
	font-family: Helvetica; sans-serif;

}

.center {
	text-align: center;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
	text-align: center;
}

#slogan {
	font-style: italic;
	text-align: center;
}

.contact {
	text-align: center;
}