* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-weight: 600;
	font-family: 'PT Sans', sans-serif;
	text-align:center;
}
section {
	padding:4em 0;
}
ul {
	font-weight: normal;
	list-style-position: inside;
}
h1 {
	font-family: 'Merriweather', serif;
	margin-bottom:2.5em;
}
a {
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
}
#block1 {
	background-color: tan;
	color: rgb(128,0,0);
}

#block2 {
	background-color: rgb(220, 243, 252);
	color: rgb(0, 153, 0);
}

#block3 {
	background-color: gainsboro;
	color: black;
}


.center {
	text-align: center;
	margin: auto;
}
#slogan {
	font-style: italic;
}

.contact {
	font-family: 'Merriweather', serif;
}

#listtitle {
	font-weight: 700;
	font-family: 'Merriweather', serif;
}
